{% load recipe_tags %}

{% if user.is_authenticated %}
    <header class="header">
        <nav class="nav">
            <div class="nav__container container">
                <ul class="nav__items list">
                    <li class="nav__item {% if selected_page == 'recipes'%} nav__item_active {% endif %} ">
                        <a href="{% url 'recipes:recipes' %}" class="nav__link link">Рецепты</a></li>

                    <li class="nav__item {% if selected_page == 'follows'%} nav__item_active {% endif %} ">
                        <a href="{% url 'recipes:my_follows' %}" class="nav__link link">Мои подписки</a></li>

                    <li class="nav__item {% if selected_page == 'new_recipe'%} nav__item_active {% endif %} ">
                        <a href="{% url 'recipes:recipe_new' %}" class="nav__link link">Создать рецепт</a></li>

                    <li class="nav__item {% if selected_page == 'favorites'%} nav__item_active {% endif %} ">
                        <a href="{% url 'recipes:favorites' %}" class="nav__link link">Избранное</a></li>

                    <li class="nav__item {% if selected_page == 'purchases'%} nav__item_active {% endif %} ">
                        <a href="{% url 'recipes:purchases' %}" class="nav__link link">Список покупок</a> <span class="badge badge_style_blue nav__badge" id="counter">{% purchase_count request.user.id %}</span></li>

                </ul>
                <ul class="nav__items list">
                    <li class="nav__item"><a href="{% url 'recipes:recipes_by_author' request.user.id %}" class="nav__link link">{{request.user.username}}</a></li>
                    <li class="nav__item"><a href="{% url 'users:change_password' %}" class="nav__link link">Изменить пароль</a></li>
                    <li class="nav__item"><a href="{% url 'users:logout' %}" class="nav__link link">Выход</a></li>
                </ul>
            </div>
        </nav>
    </header>
{% else %}
    <h1> None user </h1>
    <header class="header">
        <nav class="nav">
            <div class="nav__container container">
                <ul class="nav__items list">
                    <li class="nav__item nav__item_active"><a href="{% url 'recipes:recipes' %}" class="nav__link link">Рецепты</a></li>
                    {% comment %} <li class="nav__item nav__item_disabled"><a href="#" class="nav__link link">Список покупок <span class="badge badge_style_blue nav__badge" id="counter">4</span></a></li> {% endcomment %}
                </ul>
                <ul class="nav__items list">
                    <li class="nav__item"><a href="{% url 'users:login' %}" class="nav__link link">Войти</a></li>
                    <li class="nav__item"><a href="{% url 'users:register' %}" class="button button_style_blue">Создать аккаунт</a></li>
                </ul>
            </div>
        </nav>
    </header>
{% endif %}