{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Изменить пароль</title>
    <link rel="stylesheet" href="{% static '/pages/form.css' %}">
</head>
<body class="body">

{% include "includes/top_block.html" %}

<main class="main container">
    <div class="main__header">
        <h1 class="main__title">Изменить пароль</h1>
    </div>
    <div class="form-container">

        <form method="POST", action="{% url 'users:change_password' %}",  class="form">
            {% csrf_token %}

            {% for non_field_error in form.non_field_errors %}
                <p class="form__label">{{ non_field_error }}</p>
            {% endfor %}

            {% for field in form %}
                
                <div class="form__group">
                    <label for="{{ field.id_for_label }}" class="form__label">{{ field.label }}</label>
                    <div class="form__field-group">
                        <input
                            type="{{field.type}}"
                            name="{{ field.label }}"
                            id="{{ field.id_for_label }}"
                            class="form__input"
                        >
                        <span class="form__error">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </span>
                        
                        {% if field.html_name == 'new_password1' %}
                            <span class="form__input-info">Ваш пароль не должен совпадать с вашим именем или другой персональной информацией или быть слишком похожим на неё.</span>
                            <span class="form__input-info">Ваш пароль должен содержать как минимум 8 символов.</span>
                            <span class="form__input-info">Ваш пароль не может быть одним из широко распространённых паролей.</span>
                            <span class="form__input-info">Ваш пароль не может состоять только из цифр.</span>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}

            <div class="form__footer">
                <input type="submit" class="button button_style_blue" value="сменить">
            </div>
        </form>
    </div>


</main>
<footer class="footer">
    <div class="footer__container container">
        <a href="#" class="footer__brand link">Продуктовый помощник</a>
        <ul class="footer__items">
            <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
            <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
