{% extends "base.html" %}
{% load static %}
{% load thumbnail %}

{% block title %}
    Избранное
{% endblock %}

{% block get_styles %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}"/>
{% endblock %}

{% block content %}
    {% csrf_token %}
    <main class="main container">
        {% include "includes/main_heder.html" %}
        {% include "includes/card_list.html" %}

        {% if page.has_other_pages %}
            <nav class="pagination" aria-label="Search results pages">
                <ul class="pagination__container">

                    {% if page.has_previous %}
                            <li class="pagination__item"><a class="pagination__link link" href="?page={{ page.previous_page_number }}"><span class="icon-left"></span></a></li>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        {% if page.number == i %}
                            <li class="pagination__item pagination__item_active"><a class="pagination__link link" href="?page={{ i }}">{{ i }}</a></li>
                        {% else %}
                            <li class="pagination__item"><a class="pagination__link link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
            
                    {% if page.has_next %}
                        <li class="pagination__item"><a class="pagination__link link" href="?page={{ page.next_page_number }}"><span class="icon-right"></span></a></li>
                    {% endif %}

                </ul>
            </nav>
        {% endif %}

    <script src="{% static '/js/components/MainCards.js' %}"></script>
    <script src="{% static '/js/components/Purchases.js' %}"></script>
    <script src="{% static '/js/components/Favorites.js' %}"></script>
    <script src="{% static '/js/config/config.js' %}"></script>
    <script src="{% static '/js/components/CardList.js' %}"></script>
    <script src="{% static '/js/components/Header.js' %}"></script>
    <script src="{% static '/js/api/Api.js' %}"></script>
    <script src="{% static 'favorite.js' %}"></script>
{% endblock %}