{% load thumbnail %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Список покупок</title>
    <link rel="stylesheet" href="{% static '/pages/shopList.css' %}"/>
</head>
<body class="body">

{% csrf_token %}

{% include "includes/top_block.html" with page=selected_page %}

<main class="main container">
    
    <div class="main__header">
        <h1 class="main__title">Список покупок</h1>
    </div>

    <div class="card-list card-list_column">
        <ul class="shopping-list">
        {% for recipe in recipes %}
            <li class="shopping-list__item" data-id="{{ recipe.id }}">
                <div class="recipe recipe_reverse">
                    {% thumbnail recipe.image "240x240" crop="smart" upscale=True  as image %}
                    <img src="{{ image.url }}" alt="{{ recipe.title }}" class="recipe__image recipe__image_big">
                    <h3 class="recipe__title">{{ recipe.title }}</h3>
                    <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                </div>
                <a href="{% url "recipes:purchases_delete" recipe.id %}" class="shopping-list__button link">Удалить</a>
            </li>
        {% endfor %}
         </ul>
        
        {% if recipes.count > 0 %}
            <a href="{% url "recipes:export_pdf" %}"><button class="button button_style_blue">Скачать список</button></a>
        {% else %}
            <a><button class="button button_style_blue">Список пуст</button></a>
        {% endif %}
    </div>
</main>


<footer class="footer">
    <div class="footer__container container">
        <a href="#" class="footer__brand link">Продуктовый помощник</a>
        <ul class="footer__items">
            <li class="footer__item"><a href="#" class="footer__link link">Об авторе </a></li>
            <li class="footer__item"><a href="#" class="footer__link link">Технологии</a></li>
        </ul>
    </div>
</footer>
<script src="./js/config/config.js"></script>
<script src="./js/components/Header.js"></script>
<script src="./js/components/ShopList.js"></script>
<script src="./js/api/Api.js"></script>
<script src="shopList.js"></script>
</body>
</html>
