{% extends "base.html" %}
{% load static %}


{% block title %}
    Продуктовый помощник
{% endblock %}

{% block get_styles %}
    <link rel="stylesheet" href="{% static '/pages/index.css' %}"/>
{% endblock %}

{% block content %}
    <h2>Продуктовый помощник</h2>
    <p>Онлайн-сервис, где Вы можете публиковать рецепты, подписываться на публикации других пользователей, добавлять понравившиеся рецепты в список «Избранное».</p>
    <p>Перед походом в магазин Вы можете скачивать сводный список продуктов, необходимых для приготовления одного или нескольких выбранных Вами блюд.</p>
{% endblock %}